


body {
    font-family: 'Open Sans', sans-serif;
    width: 1200px;
    /* display: block; */
}
.landing {
    /* background-color: rgb(216, 35, 35); */
    /* height: 600px; */
    /* position: relative; */
    width: 1200;
    background-size: 80%;   
}
h1 {
    position: absolute;
    color: white;
    left: 75px;
    top: 25px;
}
h2 {
    position: absolute;
    top: 150px;
    left: 300px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.button-getnow {
    background-color: yellow;
    width:150px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    position: absolute;
    top: 275px;
    left: 400px;
    color: #033048;
    margin: 4px 2px;    
    /* border-color:black; */
    /* text-align: center; */
}

.benefits-box {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    padding-right: 65%;
    padding-left: 75px;
    padding-top: 50px;
    background-color: #f0efef;
    height: 300px;
    font-size: 13px;
    /* margin-top: 75px; */
    /* margin-bottom: 25px; */
    /* width: 600px; */
}
.benefitstext {
    /* display: block; */
    /* width: 320px; */
    font-size: 13px;
    font-weight: 300;
    color: #606161;
}
li {
    /* width: 325px; */
    margin-bottom: 5px;
    margin-left: 15px;
    color: #606161;
}
.quote {
    background-color: #033048;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:435px;
    padding-right: 435px;
}
.signupnow {
    background-color: #f9e42e;
    /* height: 100px; */
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button-signup {
    background-color: #033048;
    width:150px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    /* position: relative;
    top: 275px;
    left: 400px; */
    color: white;
    margin: 4px 2px;    
    /* border-color:black; */
    /* text-align: center; */
}
.landingimage {
    /* Shold I have a class for the landing page image? */
}
.br {
    height: 200px;
}
.sociallinks {
display: inline-block;
width: 20px;
height: 20px;
}
.sociallinks img {
    max-height: 100%;
    max-width: 100%;
}
footer {
    /* display: block; */
    padding-top: 40px;
    padding bottom 15px;
    background-color: #121212;
    height: 200px;
    text-align: center;
}
.navbar {
    /* display:inline-block; */
    display: flex;
    background-color: #033048;
    height: 50px;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    align-items: center;
}
.navbar a {
    color: #f9e42e;
    /* flex: 1%; */
    margin: 10px;
}
.navbarlogo {
    /* flex: 40%; */
    color: white;
    padding-left: 50px;
    font-size: 24px;
    font-weight: 800;
}
.navbarlinks {
    /* flex: 60%; */
    padding: 30px;
    display: inline-block;
}
}
.blogbody {
    display: flex;
    flex-direction: column;
    flex: 70% 30%;

}
.mainbox {
    display: flex;
    flex-direction: row;
    background-color: #d1d1d1;
}
.leftbox {
flex: 4;
padding-left: 50px;
/* margin-left: 50px; */
}
.rightbox {
    flex: 1;
}
.blogbody p {
    font-size: 40px;
    font-weight: 800;
    color: #033048;

}